body,
html {
	height: 100%;
	background-color: #1B4F72;
	line-height: 30px;
}

.team {
	font-size: 1.15em;
	margin: -8px;
	background: #F4F6F7;
	color: #fd654d;
	padding: 40px;
}

.btn-primary {
	background-color:  #fd654d;
	border: none;
}

/* NAVBAR */
.navbar-nav {
	font-weight: bold;
	border: none;
	text-transform: uppercase;
}

/* change the background color */
.navbar-custom {
    background-color: #2F2FA2;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #fd654d;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #fd654d;
}
.nabar-collapse {
	color: #fd654d;
}

.custom-toggler.navbar-toggler {
    border-color: #fd654d;
}
/* NAVBAR END */

/* FOOTER */
footer {
	position: fixed;
	bottom: 0;
}

@media (max-height: 800px) {
	footer {
		position: static;
	}
	header {
		padding-top: 40px;
	}
}

.footer-distributed {
	border: none;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 8px 40px;
}

.footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
}

#footer-hr {
	border: none;
	width: 95%;
	height: 4px;
	background-color: #fd654d;
}

/* Footer links */
.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

#cortesy {
	color: #fff;
	font-size: 1.01em;
}

@media (max-width: 600px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-right {
		text-align: center;
	}
	.footer-distributed .footer-right {
		float: none;
		margin: 0 auto 20px;
	}
	.footer-distributed .footer-left p.footer-links {
		line-height: 1.8;
	}
}
/* FOOTER END */

/* BUSINESS REGISTRATION PAGE */
section {
	margin-top: 60px;
	padding-left: 60px;
	padding-right: 60px;
}

#reg-form .container {
	max-width: 500px;
	border: 2px solid #fd654d;
}

.form-group,
.form-check {
	margin: 25px 0;
}

.btn,
.form-control {
	border-radius: 0;
}

form {
	padding: 30px;
}

.red {
	color: red;
}

.small {
	font-size: 12px;
}
/* END BUSSINESS REGISTRATION PAGE */

/*BUSINESS PROFILE 1 PAGE*/
.mid {
	display: block;
  margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #F4F6F7;
	padding: 30px;
	width: 80%;
}

.edit {
	margin-top: 10px;
}

.details {
	margin-top: 5px;
}

.top {
	margin-top: 25px;
}

.bus-name {
	color: #fd654d;
}

.verticalLine {
	border-left: thick solid #fd654d;
	font-size: 1.3em;
}

#reviews {
	text-align: center;
}

#motto {
	margin-top: 10px;
	font-style: italic;
	font-size: 1.3em;
}

#write {
	margin-top: 10px;
}

#logo {
	margin: 10px;
	width: 200px;
	border-radius: 50%;
}

@media (max-width: 600px) {
	.mid {
		width: 100%;
		margin-top: 0px;
		text-align: center;
	}
	.verticalLine {
	border-left: none;
	font-size: 1.3em;
}
	hr {
		border: none;
		width: 95%;
		height: 4px;
		background-color: #fd654d;
	}
}
/*BUSINESS PROFILE 1*/

/* UPDATE BUSINESS PAGE */
#update {
	color: #fd654d;
	font-size: 1.15em;
	margin-top: 30px;
}
.form-horizontal{
	border-radius: 10px;
	background: #F4F6F7;
	padding: 50px;
	width: auto;
	margin-right: 0px;
}