<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WEconnect</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

	<!-- Navbar -->
	<nav class="navbar navbar-custom navbar-expand-lg navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="index.html">WEconnect</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto nav-pills">
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about.html">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="contact.html">Contact</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="signup.html">Sign Up
							<i class="fa fa-user-plus"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="signin.html">Sign In
							<i class="fa fa-user"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h1 class="my-4 text-center text-lg-center title">CATALOG</h1>
		<div class="row text-center">
			<div class="col-lg-3 col-sm-6">
				<a href="bus.html" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="images/tech.jpg" alt="">
					<p class="category">TECHNOLOGY</p>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="bus.html" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="images/vehicle.jpg" alt="">
					<p class="category">VEHICLE</p>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="bus.html" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="images/photocopy.jpg" alt="">
					<p class="category">PHOTOGRAPHY</p>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="bus.html" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="images/clothing.jpg" alt="">
					<p class="category">CLOTHING</p>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="bus.html" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="images/education.jpg" alt="">
					<p class="category">EDUCATION</p>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="bus.html" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="images/sports.png" alt="">
					<p class="category">SPORTS</p>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="tech.html" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="images/agriculture.jpg" alt="">
					<p class="category">AGRICULTURE</p>
				</a>
			</div>
			<div class="col-lg-3 col-sm-6">
				<a href="bus.html" class="d-block mb-4 h-100">
					<img class="img-fluid img-thumbnail" src="images/transportation.jpg" alt="">
					<p class="category">TRANSPORTATION</p>
				</a>
			</div>
		</div>
	</div>

	<hr id="footer-hr">

	<!-- FOOTER -->
	<footer class="footer-distributed">
		<div class="footer-right">
			<a href="#">
				<i class="fa fa-facebook"></i>
			</a>
			<a href="#">
				<i class="fa fa-twitter"></i>
			</a>
			<a href="#">
				<i class="fa fa-linkedin"></i>
			</a>
			<a href="#">
				<i class="fa fa-github"></i>
			</a>
		</div>
		<div class="footer-left">
			<p class="footer-links">
				<a href="index.html">Home</a>
				·
				<a href="about.html">About</a>
				·
				<a href="contact.html">Contact</a>
			</p>

			<p id="cortesy">WEconnect &copy; 2018</p>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
</body>

</html>